* {
    box-sizing: border-box
}

html,
body {
    color: white;
    background-color: #000240;
    padding: 0;
    margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300
}

.page-title {
    margin-top: 2rem
}

#setup-show {
    cursor: pointer
}

.deck {
    text-align: center
}

.deck .active-card {
    border-radius: 24px;
    padding: 20x;
    height: 354px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px
}

.default-card{
    background-image: url("answerofcard.png");
}

.flip-card{
    background-color:#A71FE7;
}

.deck .active-card .active-card-text {
    padding: 115px 10px 0px 10px;
    color: white ;
    font-size: 20px;
    text-align: center
}
.btn-ixdtw{
    color: #FFF;
    background-color:#000ae1;
}
.btn-ixdtw:hover{
    color: #FFF;
}